

 /* CSS pagina principal (index.html)*/

body {
    background-color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    padding: 20px 
}
header {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 10px;
    text-align: left;
    margin: 50px auto; 
    

}

.linkportifolio {
    font-size: 18px;
    color: #555;

}
.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.funcionario1 {
    background: white;
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    width: 100%;
    text-align: center;
} 
  
.funcionario2 {
    background: white;
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    width: 100%;
    text-align: center;
    }

.funcionario3 {
    background: white;
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    width: 100%;
    text-align: center;
 }
 .funcionario4 {
    background: white;
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    width: 100%;
    text-align: center;
 }

.funcionario1 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.funcionario2 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.funcionario3 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.funcionario4 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.funcionario1 h2 {
    margin: 10px 0;
    color: #333;
}

.funcionario2 h2 {
    margin: 10px 0;
    color: #333;
}

.funcionario3 h2 {
    margin: 10px 0;
     color: #333;
}

.funcionario4 h2 {  
    margin: 10px 0;
    color: #333;
}

.funcionario1 p {
    font-size: 20px;
    color: gray;
    font-weight: bold;
    
}

.funcionario2 p {
    font-size: 20px;
    color: gray;
    font-weight: bold;
}

.funcionario3 p {
    font-size: 20px;
    color: gray;
    font-weight: bold;  
}

.funcionario4 p {
    font-size: 20px;
    color: gray;
    font-weight: bold;  
}

.funcionario1 a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.funcionario2 a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.funcionario3 a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.funcionario4 a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}


 /* Abaixo estao IDs */

#instalogo {   
    width: 25px;
    height: auto;
    border-radius: 50%;

  }

   /* CSS pagina portifolio(portifolio.html)*/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#portfolio {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300vh;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.profiles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.profile {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 220px;
    text-align: center;
}

.profile img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile p {
    font-size: 18px;
    color: #555;
}

.botao {
    display: inline-block;
    background-color:white;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.botao:hover {
    background-color: black;
}