/* Geral*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: white;
    text-align: center;
    padding: 20px;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 1rem;
    text-align: left;
    margin: 50px auto;
}

.linkgooglemaps {
    display: block;
    margin-bottom: 20px;
}

/* CSS Funcionários */

.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
}

.funcionario{
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    max-width: 280px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}


.funcionario img {
    width: 100px;
    height: 100px;
    border: none !important;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #f0f0f0;
}


.funcionario h2 {
    margin: 10px 0;
    color: black;
    font-size: 1.5rem;
}


.funcionario p {
    font-size: 1.1rem;
    color: #555454;
    font-weight: bold;
    margin: 10px 0;
    font-style: italic;

}

/* CSS Links e Botões */

#instalogo {
   
    width: 80px;
    height: auto;
    margin: 10px auto;
    display: block;
    border: none ;
    
} 
    #instalogo:hover {
        transform: scale(1.1);
      
}

.botao {
    display: inline-block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #e9e0e0;
}

#agendamento {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
   
}

#agendamento:hover {
    background-color: #e9e0e0;
    
    
}

/* CSS seção do Google Maps */
header h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

header p {
    margin-bottom: 15px;
}

header a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

/* CSS Logo da Página */

header img {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}