/* CSS página portifolio (portifolio.html) */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
    width: 90%;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fotos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.foto {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 220px;
    text-align: center;
}

.foto img {
    width: 100%;
    height: auto;
    border-radius: 0%;
    margin-bottom: 10px;
}

.foto p {
    font-size: 18px;
    color: #555;
}

/* Botão de Voltar (se for usado) */
.back-button {
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

.back-button:hover {
    background-color: #007BFF;
}

/* Cores do fundo por artista */
#portifoliocarla {
    background-color: pink;
}

#portifoliomurilo {
    background-color: rgb(183, 228, 183);
}

#portifoliopaulo {
    background-color: rgb(243, 252, 129);
}

#portifolioleonardo {
    background-color: rgb(201, 101, 101);
}
